
/* general  */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #EDE8DC;

  }
  

/* Single short term card */
.container-singlebtn {
    display: flex;
    justify-content: space-evenly;
}

.single-btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 2em 2.5em;
    margin-right: 10px;
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #E7CCCC;
    cursor: pointer;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.single-card-font {
    display: flex;
    font-size: 4em;
    justify-content: center;
    animation: glow 1s ease-in-out infinite alternate; 
}

.single-card-name {
    text-align: center;
}



/* .timecard-link:visited { 
    color: #606C5D;
} */

/* short term form field */
.timecard-input {
    font-size: 18px; 
    color: hotpink;
    padding: 0.5em;
    margin: 1em;
    border-radius: 8px;
}

.timecard-time {
    font-size: 18px; 
    color: hotpink;
    padding: 10px;
    margin: 1em;
    border-radius: 8px;
}


/* @media (min-width: 600px) {
    
    .timecard-time {
        display: flex;
        flex-direction: column; 
        width: 20%;

    }

}

@media (min-width:  1600px) {
    
    .timecard-time {
        display: flex;
        padding: 15px;
        flex-direction: row; 

    }

} */


.submit-form-btnS {
    border-radius: 8px;
    border: 1px solid #606C5D;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #606C5D;
    cursor: pointer;
    transition: border-color 0.25s;

}

.submit-form-btnS:hover {
    background-color: #A5B68D;
}

@media (min-width: 600px) {
    
    .timecard-input {
        display: flex;
        flex-direction: column; 
        width: 50%;

    }

}

@media (min-width:  1600px) {
    
    .timecard-input {
       width: 50%;

    }

}


/* short term timer cards */
.searchbar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .searchbar-input {
    padding: 1rem;
    font-size: 1em;
    color: hotpink;
    width: 55%;
    border-radius: 5px;
  }

/* the container around the timecard container */
.cards {
    display:flex;
    flex-wrap:wrap;
    
}


/* short term timer card */
.timecard-container {
    display:flex;
    flex-direction: column; 
    align-content: center;
    text-align: center;
    margin-bottom: 2em;
    margin-right: 2em;
    border: solid, grey, 3px;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 8px 8px 8px rgba(2, 141, 5, 0.5);
    background-color: #E7CCCC;

}

/* Timer count down style on card*/
.count-timer {
    margin-bottom: 3em;
    color: #fff; 
    text-align: center;
    opacity: 0.3;
    padding: 1em;
    font-size: 1.2em;
    background: radial-gradient( #ff4da6, #E7CCCC);
    
  }

.timecard-link { 
    color: #ff4da6;
}

.timecard-title {
    color: #606C5D;
   
}


@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
  

}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
  
  }

  /* Start, Stop, & Reset */
  .sSR-btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-right: 10px;
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #C1CFA1;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  .sSR-btn:hover{
      background-color: #606C5D;
  }

/* .countdown-timer {
    color: #ff4da6;
} */

/* Delete button on card */
.cardbtn-delete {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1em;
    background-color: #FFF4F4;
}

.cardbtn-delete:hover{
    background-color: #E7CCCC;
    cursor: pointer;
}





  


  /* #940B92, */
  