.navbar > a{
    display:inline-block;
    box-sizing: border-box;
    width: 70px;
    padding: 5px;
    margin: 0 6px 6px;
    background: gold;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: min(10vw, 15px);
}

  
a.active {
    background: black;
    color: white;
}